* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: azure;
    width: 150px;
    height: 200px;

    box-shadow: 5px 5px 5px black;
}

p {
    font-size: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 3px;
}

h1 {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 3px;
}

a {
    background-color: rgb(0, 89, 255);
    width: 40px;
    height: 20px;
    margin-top: 10px;
    margin-left: 3px;
    border-radius: 4px;
    border: 0px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 9px;
    color: white;
    text-decoration: none;
}